@font-face {
    font-family: 'Satoshi-Black';
    src: url('/src/fonts/Satoshi-Black.woff2') format('woff2'),
         url('/src/fonts/Satoshi-Black.woff') format('woff'),
         url('/src/fonts/Satoshi-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }

$base-color: #c6538c;

h1{
    font-family: 'Satoshi-Black', sans-serif !important;
    font-size: 7.5vmin;
    line-height: 0.9;
    margin-bottom: 3rem;
    color: $base-color;
}

