$general-bg: #2D142C;
$my-blue: #50B4AD;
$my-white: #ECE2CF;
$cards-bg: linear-gradient(45deg, #50B4AD 0%, #ECE2CF 100%);
$circle-bg: linear-gradient(150deg, #E3938E 0%, #EE4540 100%);
$mini-cards-bg: linear-gradient(90deg, #ECE2CF 0%, #ffffff 100%);
$semicircle-width: 55vw;
$semicircle2-width: 120vmin;
$my-border-radius: 15px;
$my-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
100px 100px 80px rgba(0, 0, 0, 0.07),
inset 0px 0px 10px rgba(0, 0, 0, 0.06);
$myred: #EE4540;
$mydimred: #E3938E;




 @font-face {
    font-family: 'CabinetGrotesk-Black';
    src: url('../fonts/CabinetGrotesk-Black.woff2') format('woff2'),
         url('../fonts/CabinetGrotesk-Black.woff') format('woff'),
         url('../fonts/CabinetGrotesk-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  


  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
         url('../fonts/Satoshi-Medium.woff') format('woff'),
         url('../fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  

