$bg-bg: #28342E;
$general-bg: #28342E;
$my-blue: #465A51;
$my-dim-blue: #7DA497;
$my-white: #ECE2CF;
$my-dim-white: #ffffff;
$myred: #d8b842;
$mydimred: #9ca546;

$cards-bg: linear-gradient(45deg, $my-blue 0%, $my-dim-blue 100%);
$circle-bg: linear-gradient(150deg, $mydimred 0%, $myred 100%);
$mini-cards-bg: linear-gradient(90deg, $my-white 0%, $my-dim-white 100%);

$semicircle-width: 65vmin;
$semicircle2-width: 120vmin;

$my-border-radius: 15px;
$my-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
	6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
	12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
	22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
	41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
	100px 100px 80px rgba(0, 0, 0, 0.07),
	inset 0px 0px 10px rgba(0, 0, 0, 0.06);


@font-face {
	font-family: 'CabinetGrotesk-Black';
	src: url('../fonts/CabinetGrotesk-Black.woff2') format('woff2'),
		url('../fonts/CabinetGrotesk-Black.woff') format('woff'),
		url('../fonts/CabinetGrotesk-Black.ttf') format('truetype');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}


@font-face {
	font-family: 'Satoshi-Medium';
	src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
		url('../fonts/Satoshi-Medium.woff') format('woff'),
		url('../fonts/Satoshi-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-display: block;
	font-family: "bootstrap-icons";
	src: url("./node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
  url("./node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
  }

$heading-font: 'CabinetGrotesk-Black', sans-serif !important;
$text-font: 'Satoshi-Medium', sans-serif !important;
$root-font-size: 16px;
$smaller-font: 0.95rem;
$tittle-font-size: 8.5vmin;
$subtittle-font-size: 2vmin;
$offcanvas-font-size: 2rem !important;

