
//logo image

.svgimage{
    width:100px;
    height:auto;
}

// header image
 

.svg-head-font{
  font-family: 'CabinetGrotesk-Black', sans-serif !important;
  fill: $general-bg;
}

.svg-head-font-size{
  font-size:95.2283px;
}

.svg-head-cross-fill, .svg-tri-fill{
  fill:$my-blue;
}

.svg-head-braces-fill,#go, #lo{
  fill:$general-bg;
}


.svg-shadow{
    filter: drop-shadow(3px 3px 25px rgba($general-bg,0.5));
}


.tria{
    position: absolute;
    width:10%;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
  .tri{
    position: absolute;
    left:-50%;
    top:-50%;
    animation: cowmove 6s infinite;   
    padding:5px;
}


@keyframes cowmove {
    0% {
      transform: translateY(20%) rotate(0);
    }
    30% {
      transform: translateY(80%) rotate(0);
    }
    50% {
      transform: translateY(80%) rotate(180deg);
    }
    80% {
      transform: translateY(20%) rotate(180deg);
    }
    100% {
      transform: translateY(20%) rotate(360deg);
    }
  }


  // rotating circle

  .st0{fill:url(#aa_00000157301385466690272610000006346710871523586966_);}

  .card-decor-1{
    position:relative;
}

.card-decor-1::after{
    content: url('/src/svgs/doug.svg');
    position: absolute;
    right:-50px;
    top:-50px;
    width:100px;
    animation: rotate 9s linear infinite; 
}

@keyframes rotate{
    to{ transform: rotate(360deg); }
  }

  #languages, #libraries, #other{
    position: relative;
  }

#languages::after {
  content: url('/src/svgs/doug.svg');
  position: absolute;
  transform: translate(-50%, -50%);
  left:100%;
  top:100%;
  width:50px;

}

#libraries::after {
  content: url('/src/svgs/thex.svg');
  position: absolute;
  transform: translate(-50%, -50%);
  left:100%;
  top:100%;
  width:50px;

}
